<dx-data-grid id="gridContainer" [dataSource]="orders" [showBorders]="true">
  <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row>
  <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
  <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
  <dxi-column dataField="OrderNumber" [width]="140" caption="Invoice Number">
    <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
  </dxi-column>
  <dxi-column dataField="OrderDate" alignment="right" dataType="date" [width]="120"
    [calculateFilterExpression]="calculateFilterExpression">
    <dxo-header-filter [dataSource]="orderHeaderFilter"></dxo-header-filter>
  </dxi-column>
  <dxi-column dataField="DeliveryDate" alignment="right" dataType="datetime" format="M/d/yyyy, HH:mm" [width]="180">
  </dxi-column>
  <dxi-column dataField="SaleAmount" alignment="right" format="currency"
    [editorOptions]="{ format: 'currency', showClearButton: true }">
    <dxo-header-filter [dataSource]="saleAmountHeaderFilter"></dxo-header-filter>
  </dxi-column>
  <dxi-column dataField="Employee"></dxi-column>
  <dxi-column dataField="CustomerStoreCity" caption="City">
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
  </dxi-column>
</dx-data-grid>
<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Apply Filter</span>
    <dx-select-box id="useFilterApplyButton" [items]="applyFilterTypes" [(value)]="currentFilter" valueExpr="key"
      displayExpr="name" [disabled]="!showFilterRow"></dx-select-box>
  </div>
  <div class="option">
    <dx-check-box text="Filter Row" [(value)]="showFilterRow" (onValueChanged)="clearFilter()"></dx-check-box>
  </div>
  <div class="option">
    <dx-check-box text="Header Filter" [(value)]="showHeaderFilter" (onValueChanged)="clearFilter()"></dx-check-box>
  </div>
</div>