<form action="your-action" (submit)="onFormSubmit($event)">
  <dx-form id="form"
      [formData]="customer"
      [readOnly]="false"
      [showColonAfterLabel]="true"
      [showValidationSummary]="true"
      validationGroup="customerData">
      <dxi-item itemType="group" caption="Credentials">
          <dxi-item dataField="Email">
              <dxi-validation-rule 
                  type="required"
                  message="Email is required">
              </dxi-validation-rule>
              <dxi-validation-rule 
                  type="email"
                  message="Email is invalid">
              </dxi-validation-rule>
              <dxi-validation-rule 
                  type="async" 
                  message="Email is already registered" 
                  [validationCallback]="asyncValidation">
              </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Password"
              [editorOptions]="{ mode: 'password' }">
              <dxi-validation-rule 
                  type="required"
                  message="Password is required">
              </dxi-validation-rule>
          </dxi-item>
          <dxi-item 
              editorType="dxTextBox"
              [editorOptions]="{ mode: 'password' }">
              <dxo-label
                  text="Confirm Password">
              </dxo-label>
              <dxi-validation-rule 
                  type="required"
                  message="Confirm Password is required">
              </dxi-validation-rule>
              <dxi-validation-rule 
                  type="compare" 
                  [comparisonTarget]="passwordComparison"
                  message="Password and Confirm Password do not match">
              </dxi-validation-rule>
          </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Personal Data">
          <dxi-item dataField="Name">
              <dxi-validation-rule 
                  type="required"
                  message="Name is required">
              </dxi-validation-rule>
              <dxi-validation-rule 
                  type="pattern"
                  [pattern]="namePattern"
                  message="Do not use digits in the Name">
              </dxi-validation-rule>
          </dxi-item>
          <dxi-item 
              dataField="Date"
              editorType="dxDateBox"
              [editorOptions]="{ 
                  invalidDateMessage: 'The date must have the following format: MM/dd/yyyy' }">
              <dxo-label
                  text="Date of birth">
              </dxo-label>
              <dxi-validation-rule 
                  type="required"
                  message="Date of birth is required">
              </dxi-validation-rule>
              <dxi-validation-rule 
                  type="range"
                  [max]="maxDate"
                  message="You must be at least 21 years old">
              </dxi-validation-rule>
          </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Billing address">
          <dxi-item dataField="Country"
              editorType="dxSelectBox"
              [editorOptions]="{ dataSource: countries }">
              <dxi-validation-rule 
                  type="required"
                  message="Country is required">
              </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="City"
              editorType="dxAutocomplete"
              [editorOptions]="{ dataSource: cities, minSearchLength: 2 }">
              <dxi-validation-rule 
                  type="pattern"
                  [pattern]="cityPattern"
                  message="Do not use digits in the City name">
              </dxi-validation-rule>
              <dxi-validation-rule
                  type="stringLength"
                  [min]="2"
                  message="Name must have at least 2 symbols">
              </dxi-validation-rule>
              <dxi-validation-rule 
                  type="required"
                  message="City is required">
              </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Address">
              <dxi-validation-rule 
                  type="required"
                  message="Address is required">
              </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="Phone" helpText="Enter the phone number in USA phone format"
              [editorOptions]="{ 
                  mask: '+1 (X00) 000-0000',
                  maskRules: phoneRules,
                  useMaskedValue: true,
                  maskInvalidMessage: 'The phone must have a correct USA phone format'
              }">
              <dxi-validation-rule 
                  type="pattern"
                  [pattern]="phonePattern"
                  message="The phone must have a correct USA phone format">
              </dxi-validation-rule>
          </dxi-item>
          <dxi-item 
              itemType="simple"
              dataField="Accepted"
              editorType="dxCheckBox"
              [editorOptions]="{ 
                  text: 'I agree to the Terms and Conditions',
                  value: false
              }">
              <dxo-label
                  [visible]="false">
              </dxo-label>
              <dxi-validation-rule 
                  type="compare"
                  [comparisonTarget]="checkComparison"
                  message="You must agree to the Terms and Conditions">
              </dxi-validation-rule>
          </dxi-item>
      </dxi-item>

      <dxi-item 
          itemType="button"
          horizontalAlignment="left"
          [buttonOptions]="buttonOptions">
      </dxi-item>
  </dx-form>
</form>